h1{
    color:rgb(37, 70, 131);
    font-size: 100px;
    margin-left: 450px;
    margin-bottom: 500px;
}
body{
    background-image: url(./img/Liney.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    
}
h2{
    color: rgb(37, 70, 131);
    font-size: 85px;
    margin-left: 500px;
}
.Allhere{
    color:white;
    background-color: rgb(37, 70, 131);
    border: none;
    border-radius: 7px;
    cursor: pointer;

    
}
.Allhere:hover{
    background-color:rgb(88, 136, 241);
}
.p{
    margin-top: 20px;
    margin-left: 20px;
}
.main-info{
    display: flex;
    justify-content: space-between;
    margin-right: 1%;
}
.main-info_logo{
    margin-left: 135px;
    margin-bottom: 400px;
} 
.prostotak{
    border: none;
    color: white;
    background-color: rgb(37, 70, 131);
    border-radius:7px ;
    cursor:pointer;
    font-size: 20px;
}
.prostotak:hover{
    background-color: rgb(88, 136, 241);
    color: rgba(167, 255, 132, 0.975);
}

