h1{
    color:rgb(37, 70, 131);
    font-size: 100px;
    margin-left: 450px;
    margin-bottom: 500px;
}
body{
    background-image: url(./img/Liney.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    
}
h2{
    color: rgb(37, 70, 131);
    font-size: 85px;
    margin-left: 500px;
}
.Allhere{
    color:white;
    background-color: rgb(37, 70, 131);
    border: none;
    border-radius: 7px;
    cursor: pointer;

    
}
.Allhere:hover{
    background-color:rgb(88, 136, 241);
}
.p{
    margin-top: 20px;
    margin-left: 20px;
}
.main-info{
    display: flex;
    justify-content: space-between;
    margin-right: 1%;
}
.main-info_logo{
    margin-left: 135px;
    margin-bottom: 400px;
} 
.gipotenuza{
    border: none;
    color: white;
    background-color: rgb(37, 70, 131);
    border-radius:7px ;
    cursor:pointer;
    font-size: 20px;
    block-size: 60px;
}
.gipotenuza:hover{
    background-color: rgb(88, 136, 241);
    color: rgba(167, 255, 132, 0.975);
}
.homework{
    background-image:url(./img/1670534768_14-kartinkin-net-p-matematicheskie-formuli-kartinki-pinterest-15.png);
    background-size: 34%;
    display: flex;
    justify-content: space-between;
}
.stepen_2_10{
    border: none;
    color: white;
    background-color: rgb(37, 70, 131);
    border-radius:7px ;
    cursor:pointer;
    font-size: 20px;
    block-size: 60px;
}
.stepen_2_10:hover{
    background-color: rgb(88, 136, 241);
    color: rgba(167, 255, 132, 0.975);
}
.stepen_2_10:active {
    transform: scale(0.95);
}
.chet_nechet {
    border: none;
    color: white;
    background-color: rgb(37, 70, 131);
    border-radius:7px ;
    cursor:pointer;
    font-size: 20px;
    block-size: 60px;
}
.chet_nechet:hover {
    background-color: rgb(88, 136, 241);
    color: rgba(167, 255, 132, 0.975);
}
.chet_nechet:active {
    transform: scale(0.95);
}
.random {
    border: none;
    color: white;
    background-color: rgb(37, 70, 131);
    border-radius:7px ;
    cursor:pointer;
    font-size: 20px;
    block-size: 60px;
}
.random:hover{
  background-color: rgb(88, 136, 241);
    color: rgba(167, 255, 132, 0.975);
}
.random:active{
    transform: scale(0.95);
}
.prevet_bro {
    border: none;
    color: white;
    background-color: rgb(37, 70, 131);
    border-radius:7px ;
    cursor:pointer;
    font-size: 20px;
    block-size: 60px;
}
.prevet_bro:hover {
    background-color: rgb(88, 136, 241);
    color: rgba(167, 255, 132, 0.975);
}
.prevet_bro:active {
    transform: scale(0.95);
}